{"swagger":"2.0","info":{"version":"1.5.4","title":""},"host":"www.spanisharchitecture.org","basePath":"/management/.rest","tags":[{"name":"formatbookv1"},{"name":"nodesv1"},{"name":"supportinstitutionv1"},{"name":"votesv1"},{"name":"awardmanagerv1"},{"name":"portfoliov1"},{"name":"programv1"},{"name":"formatvideov1"},{"name":"supportprojectv1"},{"name":"formataudiov1"},{"name":"formatmanuscriptv1"},{"name":"formatcartographicv1"},{"name":"enrollv1"},{"name":"commandsv2"},{"name":"tasksv1"},{"name":"diffusionv1"},{"name":"forumv1"},{"name":"newsv1"},{"name":"supporteventv1"},{"name":"weightsv1"},{"name":"supportarchitectv1"},{"name":"usersv1"},{"name":"announcementv1"},{"name":"formatgraphicv1"},{"name":"formatthreedimensionalv1"},{"name":"versionv1"},{"name":"apievents"},{"name":"cachev1"},{"name":"archfilesv1"},{"name":"solrv1"},{"name":"awardv1"},{"name":"usersmessagesv1"},{"name":"damv1"},{"name":"categoriesv1"},{"name":"itineraryv1"},{"name":"formatelectronicv1"},{"name":"supportbusinessv1"},{"name":"propertiesv1"},{"name":"sitev1"},{"name":"resultsv1"},{"name":"resultssearchv1"},{"name":"supportreviewv1"},{"name":"editionv1"},{"name":"formatcontinuousv1"}],"schemes":["https"],"paths":{"/announcement/v1":{"post":{"tags":["announcementv1"],"summary":"Create announcement","description":"This can only be done with a verified user","operationId":"createAnnouncement","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/AnnouncementDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"409":{"description":"Node already exists with this name"}}},"put":{"tags":["announcementv1"],"summary":"Update announcement","description":"This can only be done with a verified user","operationId":"updateAnnouncement","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/AnnouncementDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"delete":{"tags":["announcementv1"],"summary":"Delete announcement","description":"This can only be done with a verified user","operationId":"deleteAnnouncement","consumes":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/AnnouncementDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to an announcement node"}}},"options":{"tags":["announcementv1"],"operationId":"optionsMethod","parameters":[],"responses":{"default":{"description":"successful operation"}}}},"/announcement/v1/close{path}":{"put":{"tags":["announcementv1"],"summary":"Restore previous version of an announcement node","description":"This can only be done with a verified user","operationId":"closeAnnouncement","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to an award node"}}}},"/announcement/v1/publish{path}":{"put":{"tags":["announcementv1"],"summary":"Publish announcement","description":"This can only be done with a verified user","operationId":"publish","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to publish root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to an announcement node"}}}},"/announcement/v1/restore{path}":{"put":{"tags":["announcementv1"],"summary":"Restore previous version of an announcement node","description":"This can only be done with a verified user","operationId":"restoreVersion","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to an award node"}}}},"/announcement/v1/unpublish{path}":{"put":{"tags":["announcementv1"],"summary":"Unpublish announcement","description":"This can only be done with a verified user","operationId":"deactivateAnnouncement","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to an announcement node"}}}},"/announcement/v1/users{uuid}":{"get":{"tags":["announcementv1"],"summary":"Retrieve users that not have any enroll in this announcement","description":"This can only be done with a verified user","operationId":"getUsers","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"uuid","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to an award node"}}}},"/api/events":{"post":{"tags":["apievents"],"summary":"Create event","description":"","operationId":"newEvent","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","description":"Base64 authorization header","required":true,"type":"string"},{"in":"body","name":"body","description":"Json body with ESupportEventDTO structure","required":true,"schema":{"$ref":"#/definitions/ESupportEventDTO"}},{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"type":"boolean"}}}],"responses":{"540":{"description":"User has more than one institution roles."},"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"405":{"description":"No resource method found for POST, return 405 with Allow header"},"409":{"description":"Node already exists with this name"}}},"put":{"tags":["apievents"],"summary":"Update event","description":"","operationId":"updateEvent","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","description":"Base64 authorization header","required":true,"type":"string"},{"name":"uuid","in":"query","required":false,"type":"string"},{"in":"body","name":"body","description":"Json body with ESupportEventDTO structure","required":true,"schema":{"$ref":"#/definitions/ESupportEventDTO"}}],"responses":{"540":{"description":"User has more than one institution roles."},"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"405":{"description":"No resource method found for PUT, return 405 with Allow header"},"409":{"description":"Node already exists with this name"}}},"delete":{"tags":["apievents"],"summary":"Delete event","description":"This can only be done with a verified user","operationId":"deleteEvent","produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","description":"Base64 authorization header","required":true,"type":"string"},{"name":"uuid","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"405":{"description":"No resource method found for DELETE, return 405 with Allow header"},"409":{"description":"The path does not correspond to an event support node"}}}},"/api/events/bulk":{"post":{"tags":["apievents"],"summary":"Create events with bulk operation (more than one event entry).","description":"","operationId":"newEventBulk","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","description":"Base64 authorization header","required":true,"type":"string"},{"in":"body","name":"body","description":"Json body with ESupportEventDTO structure","required":true,"schema":{"$ref":"#/definitions/ESupportEventBulkDTO"}},{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"type":"boolean"}}}],"responses":{"540":{"description":"User has more than one institution roles."},"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"405":{"description":"No resource method found for POST, return 405 with Allow header"},"409":{"description":"Node already exists with this name"}}}},"/archfiles/v1/architecturefiles":{"post":{"tags":["archfilesv1"],"summary":"Get all files by ID","description":"","operationId":"getAllFilesByID","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/AllFilesDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"}}}},"/award/v1":{"post":{"tags":["awardv1"],"summary":"Create award","description":"This can only be done with a verified user","operationId":"createAward","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/AwardDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"409":{"description":"Node already exists with this name"}}},"put":{"tags":["awardv1"],"summary":"Update award","description":"This can only be done with a verified user","operationId":"updateAward","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/AwardDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"delete":{"tags":["awardv1"],"summary":"Delete award","description":"This can only be done with a verified user","operationId":"deleteAward","consumes":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/AwardDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to an award node"}}},"options":{"tags":["awardv1"],"operationId":"optionsMethod","parameters":[],"responses":{"default":{"description":"successful operation"}}}},"/award/v1/publish{path}":{"put":{"tags":["awardv1"],"summary":"Create award submit request","description":"This can only be done with a verified user","operationId":"publish","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to publish root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to an award node"}}}},"/award/v1/restore{path}":{"put":{"tags":["awardv1"],"summary":"Restore previous version of an award node","description":"This can only be done with a verified user","operationId":"restoreVersion","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to an award node"}}}},"/award/v1/unpublish{path}":{"put":{"tags":["awardv1"],"summary":"Unpublish award","description":"This can only be done with a verified user","operationId":"deactivateAward","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to an award node"}}}},"/awardmanager/v1":{"post":{"tags":["awardmanagerv1"],"summary":"Submit selection","description":"This can only be done with a verified user and if is an award manager","operationId":"submitSelection","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/BulkSelectionDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified or is not and award manager"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"409":{"description":"Node already exists with this name"}}},"options":{"tags":["awardmanagerv1"],"operationId":"optionsMethod","parameters":[],"responses":{"default":{"description":"successful operation"}}}},"/awardmanager/v1/closed":{"get":{"tags":["awardmanagerv1"],"summary":"Get announcements were the user is an award manager","description":"This can only be done with a verified user","operationId":"getClosedAnnouncements","produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"limit","in":"query","required":false,"type":"integer","default":0,"format":"int32"},{"name":"offset","in":"query","required":false,"type":"integer","default":0,"format":"int32"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"}}}},"/awardmanager/v1/list/{uuid}":{"get":{"tags":["awardmanagerv1"],"summary":"Get enrolls by given announcement uuid","description":"This can only be done with a verified user","operationId":"enrollListByGivenAnnouncement","produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"uuid","in":"path","required":true,"type":"string","pattern":"(.+)?"},{"name":"title","in":"query","required":false,"type":"string"},{"name":"location","in":"query","required":false,"type":"string"},{"name":"username","in":"query","required":false,"type":"string"},{"name":"type","in":"query","required":false,"type":"string"},{"name":"categoryUUID","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"Announcement not exist"}}}},"/awardmanager/v1/open":{"get":{"tags":["awardmanagerv1"],"summary":"Get announcements were the user is an award manager","description":"This can only be done with a verified user","operationId":"getStartedEnrollmentAnnouncements","produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"limit","in":"query","required":false,"type":"integer","default":0,"format":"int32"},{"name":"offset","in":"query","required":false,"type":"integer","default":0,"format":"int32"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"}}}},"/awardmanager/v1/pending":{"get":{"tags":["awardmanagerv1"],"summary":"Get announcements were the user is an award manager","description":"This can only be done with a verified user","operationId":"getPendingAnnouncements","produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"limit","in":"query","required":false,"type":"integer","default":0,"format":"int32"},{"name":"offset","in":"query","required":false,"type":"integer","default":0,"format":"int32"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"}}}},"/cache/v1/ping":{"get":{"tags":["cachev1"],"summary":"Checks if the service is alive","description":"","operationId":"ping","produces":["application/json"],"parameters":[],"responses":{"default":{"description":"successful operation"}}}},"/cache/v1/{cacheName}/delete":{"delete":{"tags":["cachev1"],"summary":"Delete item from cache.","description":"Deletes item from the cache based on the passed cache key json.","operationId":"delete","parameters":[{"name":"cacheName","in":"path","required":true,"type":"string"},{"name":"cacheKey","in":"query","required":false,"type":"string"}],"responses":{"default":{"description":"successful operation"}}}},"/cache/v1/{cacheName}/download":{"get":{"tags":["cachev1"],"summary":"Get cache content.","description":"Returns cache content for the specified cache key.","operationId":"getCacheContent","produces":["application/json"],"parameters":[{"name":"cacheName","in":"path","required":true,"type":"string"},{"name":"cacheKey","in":"query","required":false,"type":"string"}],"responses":{"default":{"description":"successful operation"}}}},"/cache/v1/{cacheName}/get":{"get":{"tags":["cachev1"],"summary":"Get cache keys based on the offset and page length.","description":"Returns cache keys from the specified cache.","operationId":"getKeys","produces":["application/json"],"parameters":[{"name":"cacheName","in":"path","required":true,"type":"string"},{"name":"offset","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageLength","in":"query","required":false,"type":"integer","format":"int32"},{"name":"sortOrder","in":"query","required":false,"type":"string"},{"name":"sortProperty","in":"query","required":false,"type":"string"}],"responses":{"default":{"description":"successful operation"}}}},"/cache/v1/{cacheName}/getAll":{"get":{"tags":["cachev1"],"summary":"Get all cache keys","description":"Returns all cache keys from the specified cache.","operationId":"getAllKeys","produces":["application/json"],"parameters":[{"name":"cacheName","in":"path","required":true,"type":"string"}],"responses":{"default":{"description":"successful operation"}}}},"/cache/v1/{cacheName}/size":{"get":{"tags":["cachev1"],"summary":"Get cache size.","description":"Returns cache size for the specified cache.","operationId":"getCacheSize","produces":["application/json"],"parameters":[{"name":"cacheName","in":"path","required":true,"type":"string"}],"responses":{"default":{"description":"successful operation"}}}},"/categories/v1":{"post":{"tags":["categoriesv1"],"summary":"Create category","description":"This can only be done with a verified user","operationId":"createCategory","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/EntityDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"409":{"description":"Node already exists with this name"}}},"put":{"tags":["categoriesv1"],"summary":"Update category","description":"This can only be done with a verified user","operationId":"updateCategory","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/EntityDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"531":{"description":"This category is already in use."},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"options":{"tags":["categoriesv1"],"operationId":"optionsMethod","parameters":[],"responses":{"default":{"description":"successful operation"}}}},"/categories/v1/activate{path}":{"put":{"tags":["categoriesv1"],"summary":"Activate category","description":"This can only be done with a verified user","operationId":"publish","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to publish root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a category node"}}}},"/categories/v1/deactivate{path}":{"put":{"tags":["categoriesv1"],"summary":"Deactivate category","description":"This can only be done with a verified user","operationId":"deactivate","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a category node"}}}},"/categories/v1/{path}":{"delete":{"tags":["categoriesv1"],"summary":"Delete category","description":"This can only be done with a verified user","operationId":"deleteCategory","consumes":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(.*)?"}],"responses":{"200":{"description":"Everithing is ok"},"531":{"description":"This category is already in use."},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to an award node"}}}},"/commands/v2/{catalogName}/{commandName}":{"post":{"tags":["commandsv2"],"summary":"Executes a command","description":"Executes a command from a specific catalog","operationId":"executeCommand","consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"catalogName","in":"path","required":true,"type":"string"},{"name":"commandName","in":"path","required":true,"type":"string","pattern":"(.)*"},{"in":"body","name":"body","required":false,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"Command execution successful."},"500":{"description":"Error executing command."},"403":{"description":"Not authorized to execute command."},"404":{"description":"Command not found."}}}},"/commands/v2/{commandName}":{"post":{"tags":["commandsv2"],"summary":"Executes a command","description":"Executes a command from the default catalog","operationId":"executeCommand","consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"commandName","in":"path","required":true,"type":"string","pattern":"(.)*"},{"in":"body","name":"body","required":false,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"Command execution successful."},"500":{"description":"Error executing command."},"403":{"description":"Not authorized to execute command."},"404":{"description":"Command not found."}}}},"/dam/v1/by/{uuid}":{"get":{"tags":["damv1"],"summary":"Get asset by jcr:uuid","description":"","operationId":"getAssetByUUID","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"uuid","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error."}}}},"/dam/v1/{path}":{"get":{"tags":["damv1"],"summary":"Get all asset in the institution","description":"","operationId":"getAssetsInInstitution","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"},{"name":"limit","in":"query","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error."}}}},"/diffusion/v1":{"post":{"tags":["diffusionv1"],"summary":"Create diffusion","description":"This can only be done with a verified user","operationId":"createDiffusion","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/DiffusionDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"409":{"description":"Node already exists with this name"}}},"put":{"tags":["diffusionv1"],"summary":"Update diffusion","description":"This can only be done with a verified user","operationId":"updateDiffusion","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/DiffusionDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"options":{"tags":["diffusionv1"],"operationId":"optionsMethod","parameters":[],"responses":{"default":{"description":"successful operation"}}}},"/diffusion/v1/publish{path}":{"put":{"tags":["diffusionv1"],"summary":"Publish diffusion node","description":"This can only be done with a verified user","operationId":"publish","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to publish root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a diffusion node"}}}},"/diffusion/v1/restore{path}":{"put":{"tags":["diffusionv1"],"summary":"Restore previous version of a diffusion node","description":"This can only be done with a verified user","operationId":"restoreVersion","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a diffusion node"}}}},"/diffusion/v1/unpublish{path}":{"put":{"tags":["diffusionv1"],"summary":"Unpublish diffusion","description":"This can only be done with a verified user","operationId":"deactivateDiffusion","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a diffusion node"}}}},"/diffusion/v1/{path}":{"delete":{"tags":["diffusionv1"],"summary":"Delete diffusion","description":"This can only be done with a verified user","operationId":"deleteDiffusion","consumes":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to an award node"}}}},"/edition/v1":{"post":{"tags":["editionv1"],"summary":"Create edition","description":"This can only be done with a verified user","operationId":"createEdition","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/EditionDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"409":{"description":"Node already exists with this name"}}},"put":{"tags":["editionv1"],"summary":"Update edition","description":"This can only be done with a verified user","operationId":"updateEdition","consumes":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/EditionDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"delete":{"tags":["editionv1"],"summary":"Delete edition","description":"This can only be done with a verified user","operationId":"deleteEdition","consumes":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/EditionDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to an edition node"}}},"options":{"tags":["editionv1"],"operationId":"optionsMethod","parameters":[],"responses":{"default":{"description":"successful operation"}}}},"/edition/v1/publish{path}":{"put":{"tags":["editionv1"],"summary":"Publish edition node","description":"This can only be done with a verified user","operationId":"publish","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to an edition node"}}}},"/edition/v1/restore{path}":{"put":{"tags":["editionv1"],"summary":"Restore previous version of an edition node","description":"This can only be done with a verified user","operationId":"restoreVersion","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to an edition node"}}}},"/edition/v1/unpublish{path}":{"put":{"tags":["editionv1"],"summary":"Unpublish edition","description":"This can only be done with a verified user","operationId":"deactivateEdition","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to an edition node"}}}},"/enroll/v1":{"post":{"tags":["enrollv1"],"summary":"Create enroll","description":"This can only be done with a verified user","operationId":"createEnroll","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/EnrollDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"409":{"description":"Node already exists with this name"}}},"put":{"tags":["enrollv1"],"summary":"Update enroll","description":"This can only be done with a verified user and if is an award manager","operationId":"updateEnroll","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/EnrollDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"409":{"description":"Node already exists with this name"}}},"options":{"tags":["enrollv1"],"operationId":"optionsMethod","parameters":[],"responses":{"default":{"description":"successful operation"}}}},"/enroll/v1/all":{"get":{"tags":["enrollv1"],"summary":"Get currently enrolled announcements","description":"This can only be done with a verified user","operationId":"openAnnouncements","produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"limit","in":"query","required":false,"type":"integer","default":0,"format":"int32"},{"name":"offset","in":"query","required":false,"type":"integer","default":0,"format":"int32"},{"name":"profilename","in":"query","required":false,"type":"string"},{"name":"@ancestor","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"}}}},"/enroll/v1/current":{"get":{"tags":["enrollv1"],"summary":"Get currently enrolled announcements","description":"This can only be done with a verified user","operationId":"currentlyEnrolledAnnouncements","produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"limit","in":"query","required":false,"type":"integer","default":0,"format":"int32"},{"name":"offset","in":"query","required":false,"type":"integer","default":0,"format":"int32"},{"name":"@ancestor","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"}}}},"/enroll/v1/detail/{uuid}":{"get":{"tags":["enrollv1"],"summary":"Get enrolls by given enroll uuid","description":"This can only be done with a verified user","operationId":"enrollDetailById","produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"uuid","in":"path","required":true,"type":"string","pattern":"(.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"Announcement not exist"}}}},"/enroll/v1/jury/all":{"get":{"tags":["enrollv1"],"summary":"Get announcements were the user is a jury member","description":"This can only be done with a verified user","operationId":"openAnnouncementsIsJury","produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"limit","in":"query","required":false,"type":"integer","default":0,"format":"int32"},{"name":"offset","in":"query","required":false,"type":"integer","default":0,"format":"int32"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"}}}},"/enroll/v1/jury/allenrolls{path}":{"get":{"tags":["enrollv1"],"summary":"Get closed announcements were the user was a jury member","description":"This can only be done with a verified user","operationId":"downloadAllEnrollments","produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"}}}},"/enroll/v1/jury/bulkpreselect":{"put":{"tags":["enrollv1"],"summary":"Do a pre select","description":"This can only be done with a verified user and if is a jury member","operationId":"doPreSelectBulk","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/BulkPreselectionDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"409":{"description":"Node already exists with this name"}}}},"/enroll/v1/jury/close":{"get":{"tags":["enrollv1"],"summary":"Get closed announcements were the user was a jury member","description":"This can only be done with a verified user","operationId":"closedAnnouncementsIsJury","produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"limit","in":"query","required":false,"type":"integer","default":0,"format":"int32"},{"name":"offset","in":"query","required":false,"type":"integer","default":0,"format":"int32"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"}}}},"/enroll/v1/jury/download{path}":{"get":{"tags":["enrollv1"],"summary":"Get closed announcements were the user was a jury member","description":"This can only be done with a verified user","operationId":"downloadAssets","produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"}}}},"/enroll/v1/jury/list/{uuid}":{"get":{"tags":["enrollv1"],"summary":"Get enrolls by given announcement uuid","description":"This can only be done with a verified user","operationId":"enrollListForJury","produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"uuid","in":"path","required":true,"type":"string","pattern":"(.+)?"},{"name":"title","in":"query","required":false,"type":"string"},{"name":"location","in":"query","required":false,"type":"string"},{"name":"username","in":"query","required":false,"type":"string"},{"name":"type","in":"query","required":false,"type":"string"},{"name":"categoryUUID","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"Announcement not exist"}}}},"/enroll/v1/jury/preselect":{"put":{"tags":["enrollv1"],"summary":"Do a pre select","description":"This can only be done with a verified user and if is a jury member","operationId":"doPreSelect","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/PreSelectionDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"409":{"description":"Node already exists with this name"}}}},"/enroll/v1/list/{uuid}":{"get":{"tags":["enrollv1"],"summary":"Get enrolls by given announcement uuid","description":"This can only be done with a verified user","operationId":"enrollDetail","produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"uuid","in":"path","required":true,"type":"string","pattern":"(.+)?"},{"name":"@ancestor","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"Announcement not exist"}}}},"/format/audio/v1":{"get":{"tags":["formataudiov1"],"summary":"Collect all format audios created by the authorized user.","description":"This can only be done with a verified user","operationId":"getAudios","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"locale","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"post":{"tags":["formataudiov1"],"summary":"Create format audio","description":"This can only be done with a verified user","operationId":"newAudio","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/FormatAudioDTO"}},{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"type":"boolean"}}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"409":{"description":"Node already exists with this name"}}},"put":{"tags":["formataudiov1"],"summary":"Update format audio","description":"This can only be done with a verified user","operationId":"updateAudio","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/FormatAudioDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"options":{"tags":["formataudiov1"],"operationId":"optionsMethod","parameters":[],"responses":{"default":{"description":"successful operation"}}}},"/format/audio/v1/publish{path}":{"put":{"tags":["formataudiov1"],"summary":"Publish format audio","description":"This can only be done with a verified user","operationId":"publish","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format audio node"}}}},"/format/audio/v1/restore{path}":{"put":{"tags":["formataudiov1"],"summary":"Restore previous version of an audio node","description":"This can only be done with a verified user","operationId":"restoreVersion","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format audio node"}}}},"/format/audio/v1/unpublish{path}":{"put":{"tags":["formataudiov1"],"summary":"Unpublish format audio","description":"This can only be done with a verified user","operationId":"deactivateAudio","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format audio node"}}}},"/format/audio/v1/{path}":{"delete":{"tags":["formataudiov1"],"summary":"Delete format audio","description":"This can only be done with a verified user","operationId":"deleteAudio","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format audio node"}}}},"/format/book/v1":{"get":{"tags":["formatbookv1"],"summary":"Collect all format books created by the authorized user.","description":"This can only be done with a verified user","operationId":"getBooks","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"locale","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"post":{"tags":["formatbookv1"],"summary":"Create format book","description":"This can only be done with a verified user","operationId":"newBook","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/FormatBookDTO"}},{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"type":"boolean"}}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"409":{"description":"Node already exists with this name"}}},"put":{"tags":["formatbookv1"],"summary":"Update format book","description":"This can only be done with a verified user","operationId":"updateBook","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/FormatBookDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"options":{"tags":["formatbookv1"],"operationId":"optionsMethod","parameters":[],"responses":{"default":{"description":"successful operation"}}}},"/format/book/v1/publish{path}":{"put":{"tags":["formatbookv1"],"summary":"Publish format book","description":"This can only be done with a verified user","operationId":"publish","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format book node"}}}},"/format/book/v1/restore{path}":{"put":{"tags":["formatbookv1"],"summary":"Restore previous version of a book node","description":"This can only be done with a verified user","operationId":"restoreVersion","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format book node"}}}},"/format/book/v1/unpublish{path}":{"put":{"tags":["formatbookv1"],"summary":"Unpublish format book","description":"This can only be done with a verified user","operationId":"deactivateBook","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format book node"}}}},"/format/book/v1/{path}":{"delete":{"tags":["formatbookv1"],"summary":"Delete format book","description":"This can only be done with a verified user","operationId":"deleteBook","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format book node"}}}},"/format/cartographic/v1":{"get":{"tags":["formatcartographicv1"],"summary":"Collect all format cartographics created by the authorized user.","description":"This can only be done with a verified user","operationId":"getCartographics","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"locale","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"post":{"tags":["formatcartographicv1"],"summary":"Create format cartographic","description":"This can only be done with a verified user","operationId":"newCartographic","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/FormatCartographicDTO"}},{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"type":"boolean"}}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"409":{"description":"Node already exists with this name"}}},"put":{"tags":["formatcartographicv1"],"summary":"Update format cartographic","description":"This can only be done with a verified user","operationId":"updateCartographic","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/FormatCartographicDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"options":{"tags":["formatcartographicv1"],"operationId":"optionsMethod","parameters":[],"responses":{"default":{"description":"successful operation"}}}},"/format/cartographic/v1/publish{path}":{"put":{"tags":["formatcartographicv1"],"summary":"Publish format cartographic","description":"This can only be done with a verified user","operationId":"publish","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format cartographic node"}}}},"/format/cartographic/v1/restore{path}":{"put":{"tags":["formatcartographicv1"],"summary":"Restore previous version of a cartographic node","description":"This can only be done with a verified user","operationId":"restoreVersion","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format cartographic node"}}}},"/format/cartographic/v1/unpublish{path}":{"put":{"tags":["formatcartographicv1"],"summary":"Unpublish format cartographic","description":"This can only be done with a verified user","operationId":"deactivateCartographic","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format cartographic node"}}}},"/format/cartographic/v1/{path}":{"delete":{"tags":["formatcartographicv1"],"summary":"Delete format cartographic","description":"This can only be done with a verified user","operationId":"deleteCartographic","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format cartographic node"}}}},"/format/continuous/v1":{"get":{"tags":["formatcontinuousv1"],"summary":"Collect all format continuous created by the authorized user.","description":"This can only be done with a verified user","operationId":"getContinuous","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"locale","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"post":{"tags":["formatcontinuousv1"],"summary":"Create format continuous","description":"This can only be done with a verified user","operationId":"newContinuous","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/FormatContinuousDTO"}},{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"type":"boolean"}}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"409":{"description":"Node already exists with this name"}}},"put":{"tags":["formatcontinuousv1"],"summary":"Update format continuous","description":"This can only be done with a verified user","operationId":"updateContinuous","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/FormatContinuousDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"options":{"tags":["formatcontinuousv1"],"operationId":"optionsMethod","parameters":[],"responses":{"default":{"description":"successful operation"}}}},"/format/continuous/v1/publish{path}":{"put":{"tags":["formatcontinuousv1"],"summary":"Publish format continuous","description":"This can only be done with a verified user","operationId":"publish","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format continuous node"}}}},"/format/continuous/v1/restore{path}":{"put":{"tags":["formatcontinuousv1"],"summary":"Restore previous version of a continuous node","description":"This can only be done with a verified user","operationId":"restoreVersion","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format continuous node"}}}},"/format/continuous/v1/unpublish{path}":{"put":{"tags":["formatcontinuousv1"],"summary":"Unpublish format continuous","description":"This can only be done with a verified user","operationId":"deactivateContinuous","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format continuous node"}}}},"/format/continuous/v1/{path}":{"delete":{"tags":["formatcontinuousv1"],"summary":"Delete format continuous","description":"This can only be done with a verified user","operationId":"deleteContinuous","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format continuous node"}}}},"/format/electronic/v1":{"get":{"tags":["formatelectronicv1"],"summary":"Collect all format electronics created by the authorized user.","description":"This can only be done with a verified user","operationId":"getElectronics","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"locale","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"post":{"tags":["formatelectronicv1"],"summary":"Create format electronic","description":"This can only be done with a verified user","operationId":"newElectronic","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/FormatElectronicDTO"}},{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"type":"boolean"}}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"409":{"description":"Node already exists with this name"}}},"put":{"tags":["formatelectronicv1"],"summary":"Update format electronic","description":"This can only be done with a verified user","operationId":"updateElectronic","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/FormatElectronicDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"options":{"tags":["formatelectronicv1"],"operationId":"optionsMethod","parameters":[],"responses":{"default":{"description":"successful operation"}}}},"/format/electronic/v1/publish{path}":{"put":{"tags":["formatelectronicv1"],"summary":"Publish format electronic","description":"This can only be done with a verified user","operationId":"publish","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format electronic node"}}}},"/format/electronic/v1/restore{path}":{"put":{"tags":["formatelectronicv1"],"summary":"Restore previous version of an electronic node","description":"This can only be done with a verified user","operationId":"restoreVersion","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format electronic node"}}}},"/format/electronic/v1/unpublish{path}":{"put":{"tags":["formatelectronicv1"],"summary":"Unpublish format electronic","description":"This can only be done with a verified user","operationId":"deactivateElectronic","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format electronic node"}}}},"/format/electronic/v1/{path}":{"delete":{"tags":["formatelectronicv1"],"summary":"Delete format electronics","description":"This can only be done with a verified user","operationId":"deleteElectronic","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format electronic node"}}}},"/format/graphic/v1":{"get":{"tags":["formatgraphicv1"],"summary":"Collect all format graphic created by the authorized user.","description":"This can only be done with a verified user","operationId":"getGraphics","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"locale","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"post":{"tags":["formatgraphicv1"],"summary":"Create format graphic","description":"This can only be done with a verified user","operationId":"newGraphic","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/FormatGraphicDTO"}},{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"type":"boolean"}}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"409":{"description":"Node already exists with this name"}}},"put":{"tags":["formatgraphicv1"],"summary":"Update format graphic","description":"This can only be done with a verified user","operationId":"updateGraphic","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/FormatGraphicDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"options":{"tags":["formatgraphicv1"],"operationId":"optionsMethod","parameters":[],"responses":{"default":{"description":"successful operation"}}}},"/format/graphic/v1/publish{path}":{"put":{"tags":["formatgraphicv1"],"summary":"Publish format graphic","description":"This can only be done with a verified user","operationId":"publish","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format graphic node"}}}},"/format/graphic/v1/restore{path}":{"put":{"tags":["formatgraphicv1"],"summary":"Restore previous version of a graphic node","description":"This can only be done with a verified user","operationId":"restoreVersion","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format graphic node"}}}},"/format/graphic/v1/unpublish{path}":{"put":{"tags":["formatgraphicv1"],"summary":"Unpublish format graphic","description":"This can only be done with a verified user","operationId":"deactivateGraphic","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format graphic node"}}}},"/format/graphic/v1/{path}":{"delete":{"tags":["formatgraphicv1"],"summary":"Delete format graphic","description":"This can only be done with a verified user","operationId":"deleteGraphic","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format graphic node"}}}},"/format/manuscript/v1":{"get":{"tags":["formatmanuscriptv1"],"summary":"Collect all format manuscript created by the authorized user.","description":"This can only be done with a verified user","operationId":"getManuscripts","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"locale","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"post":{"tags":["formatmanuscriptv1"],"summary":"Create format manuscript","description":"This can only be done with a verified user","operationId":"newManuscript","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/FormatManuscriptDTO"}},{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"type":"boolean"}}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"409":{"description":"Node already exists with this name"}}},"put":{"tags":["formatmanuscriptv1"],"summary":"Update format manuscript","description":"This can only be done with a verified user","operationId":"updateManuscript","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/FormatManuscriptDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"options":{"tags":["formatmanuscriptv1"],"operationId":"optionsMethod","parameters":[],"responses":{"default":{"description":"successful operation"}}}},"/format/manuscript/v1/publish{path}":{"put":{"tags":["formatmanuscriptv1"],"summary":"Publish format manuscript","description":"This can only be done with a verified user","operationId":"publish","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format manuscript node"}}}},"/format/manuscript/v1/restore{path}":{"put":{"tags":["formatmanuscriptv1"],"summary":"Restore previous version of a manuscript node","description":"This can only be done with a verified user","operationId":"restoreVersion","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format manuscript node"}}}},"/format/manuscript/v1/unpublish{path}":{"put":{"tags":["formatmanuscriptv1"],"summary":"Unpublish format manuscript","description":"This can only be done with a verified user","operationId":"deactivateManuscript","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format manuscript node"}}}},"/format/manuscript/v1/{path}":{"delete":{"tags":["formatmanuscriptv1"],"summary":"Delete format manuscript","description":"This can only be done with a verified user","operationId":"deleteManuscript","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format manuscript node"}}}},"/format/threedimensional/v1":{"get":{"tags":["formatthreedimensionalv1"],"summary":"Collect all format three dimensional created by the authorized user.","description":"This can only be done with a verified user","operationId":"getThreeDimensionals","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"locale","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"post":{"tags":["formatthreedimensionalv1"],"summary":"Create format three dimensional","description":"This can only be done with a verified user","operationId":"newThreeDimensional","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/FormatThreeDimensionalDTO"}},{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"type":"boolean"}}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"409":{"description":"Node already exists with this name"}}},"put":{"tags":["formatthreedimensionalv1"],"summary":"Update format three dimensional","description":"This can only be done with a verified user","operationId":"updateThreeDimensional","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/FormatThreeDimensionalDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"options":{"tags":["formatthreedimensionalv1"],"operationId":"optionsMethod","parameters":[],"responses":{"default":{"description":"successful operation"}}}},"/format/threedimensional/v1/publish{path}":{"put":{"tags":["formatthreedimensionalv1"],"summary":"Publish format three dimensional","description":"This can only be done with a verified user","operationId":"publish","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format three dimensional node"}}}},"/format/threedimensional/v1/restore{path}":{"put":{"tags":["formatthreedimensionalv1"],"summary":"Restore previous version of a three dimensional node","description":"This can only be done with a verified user","operationId":"restoreVersion","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format three dimensional node"}}}},"/format/threedimensional/v1/unpublish{path}":{"put":{"tags":["formatthreedimensionalv1"],"summary":"Unpublish format three dimensional","description":"This can only be done with a verified user","operationId":"deactivateThreeDimensional","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format three dimensional node"}}}},"/format/threedimensional/v1/{path}":{"delete":{"tags":["formatthreedimensionalv1"],"summary":"Delete format three dimensional","description":"This can only be done with a verified user","operationId":"deleteThreeDimensional","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format three dimensional node"}}}},"/format/video/v1":{"get":{"tags":["formatvideov1"],"summary":"Collect all format videos created by the authorized user.","description":"This can only be done with a verified user","operationId":"getVideos","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"locale","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"post":{"tags":["formatvideov1"],"summary":"Create format video","description":"This can only be done with a verified user","operationId":"newVideo","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/FormatVideoDTO"}},{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"type":"boolean"}}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"409":{"description":"Node already exists with this name"}}},"put":{"tags":["formatvideov1"],"summary":"Update format video","description":"This can only be done with a verified user","operationId":"updateVideo","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/FormatVideoDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"options":{"tags":["formatvideov1"],"operationId":"optionsMethod","parameters":[],"responses":{"default":{"description":"successful operation"}}}},"/format/video/v1/publish{path}":{"put":{"tags":["formatvideov1"],"summary":"Publish format video","description":"This can only be done with a verified user","operationId":"publish","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format video node"}}}},"/format/video/v1/restore{path}":{"put":{"tags":["formatvideov1"],"summary":"Restore previous version of a video node","description":"This can only be done with a verified user","operationId":"restoreVersion","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format video node"}}}},"/format/video/v1/unpublish{path}":{"put":{"tags":["formatvideov1"],"summary":"Unpublish format video","description":"This can only be done with a verified user","operationId":"deactivateVideo","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format video node"}}}},"/format/video/v1/{path}":{"delete":{"tags":["formatvideov1"],"summary":"Delete format video","description":"This can only be done with a verified user","operationId":"deleteVideo","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"path","in":"path","required":true,"type":"string","pattern":"(/.+)?"}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"The request trying to delete root path"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"409":{"description":"The path does not correspond to a format video node"}}}},"/forum/v1":{"post":{"tags":["forumv1"],"summary":"Create forum comment","description":"This can only be done by a jury member","operationId":"createComment","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ForumCommentDTO"}}],"responses":{"200":{"description":"Everithing is ok"},"400":{"description":"Unrecognized field ... , not marked as ignorable."},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."},"409":{"description":"Node already exists with this name"}}}},"/itinerary/v1":{"get":{"tags":["itineraryv1"],"summary":"Get all itinerarys created by user","description":"This can only be done with a verified user","operationId":"getItineraries","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"name":"locale","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Everithing is ok"},"401":{"description":"Unauthorized, bad credentials or user not enabled/verified"},"500":{"description":"Server error, jcr repository error, there are some problems with the DTO info."}}},"post":{"tags":["itineraryv1"],"summary":"Create new itinerary","description":"This can only be done with a verified user","operationId":"newItinerary","consumes":["application/json; charset=utf-8"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"authorization","in":"header","required":false,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ItineraryDTO"}},{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"ty
[...]
